//Reset  ------------------------------------------------------------------------------------------------------ //

*{box-sizing: border-box; margin: 0;}html{font-family:sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}a[href],input[type='submit'],input[type='image'],label[for],select,button,.pointer{cursor:pointer}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;-moz-appearance:button;appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;-moz-appearance:none;appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

// Variables -------------------------------------------------------------------------------------------------- //

$white: #fff;
$grey: #ccc;
$dark: #2B2B2B;
$black: #222;
$contrast: #c41230;
$primary-color: #143d8d;
$dark-blue: #234E83 ;
$body-copy: #2d2d2d;

$spacing: 1em;
$border-radius: 0px;

$font-family: 'Lato', sans-serif;
$heading-family: 'Lato', sans-serif;

// Media Queries --------------------------------------------------------------------------------------------- //

@mixin for-phone-only {
	@media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
	@media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) { @content; }
}

// Grid  ---------------------------------------------------------------------------------------------------- //

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto; // always negative amount of below
  max-width: 1200px;
}

.container > *, .container div > * {
  flex: 1 1 12em; // instead of queries .. last # is the min size of the element, they can grow to use the available space (1) not shrink(0)
  @include for-phone-only{
	  margin: .4em auto;
  }
}

.container > *:not(:last-child), .container div:not(:last-child) { // add guttering
	margin-right: 0px;
	@media screen and (min-width: 488px) {
    margin-right: $spacing*2.7;
  }
	@include for-tablet-portrait-up {
		margin-right: $spacing*2.7;
	}
}

.container > header, .container > footer, .container .full-width { // make full width of container
  flex-basis: calc(100% - .4em); // synced with above
}

.container > footer, section { // add padding based on each section
	padding: $spacing $spacing*2;
	@include for-tablet-landscape-up {
		padding: $spacing*2 $spacing*4;
	}
}


.introContainer {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
}

.primaryContainer {
  border: 5px solid $primary-color;
  padding: 20px;
  h2 {
    margin: 0;
  }
  ul {
    margin: 0.2em 0 1em 0;
    padding-left: 40px;
    @include for-tablet-landscape-up {
      padding-left: 20px;
    }
  }
}

.primaryContainer > div:nth-of-type(2) {
  margin-left: 20px;
}

.container_Nav {
  padding: 10px 0px;
}

.container_nav--padding {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.phone {
  display: none;
}

.phone span:hover {
  color: darken($contrast, 5%);
}

.phone:hover {
  color: darken($white, 5%);
}

@include for-tablet-landscape-up {
.phone {
	padding: 20px;
	background-color: $primary-color;
    display: inline-flex;
    color: $white;
    font-weight: 600;
    span {
      padding-left: 5px;
      color: $white;
    }
  }
}

.phoneIcon {
  display: inline-flex;
  margin-right: 5vw;
  color: $white;
  border: $white solid 1px;
  border-radius: 5px;
  padding: 4px 6px;
}

@include for-tablet-landscape-up {
  .phoneIcon {
    display: none;
  }
}

.container_Nav  * {
  align-items: center;
}

.background-image {
  position: relative;
}

.background-image::after {
  content: "";
  background: url("../images/logo-2.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

// Default Selectors ------------------------------------------------------------------------------------------ //

// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
	margin: 0 auto;
	line-height: 1.5;
	font-size: 1.6em;
	font-family: $font-family;
	color: $body-copy;
}


ul, ol, li, h1, h2, h3, h4, h5, h6, p, a{
	margin: 0px;
}


h1,h2,h4,h5,h6{
	font-family: $heading-family;
	text-transform: uppercase;
	letter-spacing: 1;
}

h1, h2, h3{
	margin-bottom: $spacing/2;
	text-transform: none;
}

 h4, li {
	margin-bottom: $spacing/4;
	a{
		font-weight: 300;
	}
}

p {
	color: $black;
	margin-bottom: $spacing*2;
}

a {
	color: $contrast;
	text-decoration: none;
	cursor: hand;
	&:hover{
		color: darken($contrast, 5%);
		transition: all 0.3s ease;
	}
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: $primary-color;
}

blockquote cite {
	color: $grey;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

hr {
	margin-bottom: $spacing;
}



nav{
	width: 100%;
	float: none;
	display:  none;
	position: relative;
	@include for-tablet-landscape-up{
		display: block;
		float: right;
		width: auto;
	}
	a {
		padding: 0em 0em 0em .5em;
		text-decoration: none;
		color: $contrast;
		font-weight: 400;
		&:hover{
			color: $white;
			transition: all 0.3s ease;
		}
		&:visited, &:active{
			color: $contrast;
		}
	}
	ul {
		padding: 0px;
		width: 100%;
		list-style: none;
		margin: $spacing/2 auto;
		text-align:center;
		li {
			a {
				padding: $spacing;
				display: block;
				&:hover {
					background: $primary-color;
					color: $white;
				}
			}
		}
		ul {
			display:  none;
			li {
  		flex-grow: 1;
				a {
					&:hover {
						background: $white;
						color: $primary-color;
					}
				}
			}
		}
		@include for-tablet-landscape-up{
			ul {
				position: absolute;
				top: 60px;
				left: 0px;
				z-index: 100;
			}
			li{
				float: left;
				ul li {
					float: none;
				}
			}
		}
	}
}


.toggle{
	display: block;
	transition: all 0.3s ease;
}


menu {
	padding: $spacing;
	line-height: 2rem;
	color: $black;
	a {
		color: $black;
		&:hover{
			color: $contrast;
			transition: all 0.3s ease;
		}
	}
	@include for-phone-only{
		text-align:center;
	}
}

footer{
	margin: 0px;
	.button.button {
    border: 2px solid $grey;
    margin: 2px;
  }
  small {
    color: $grey;
  }
}

footer{
	.button.button:hover {
  	background-color: $grey;
    border: 2px solid $grey;
    color: $dark;
    margin: 2px;
  }
  small {
    color: $grey;
  }
}

#footerapply:hover {
  background-color: $contrast;
  border: 2px solid $contrast;
}

header {
  position: relative;
  border-top: 30px solid $primary-color;
}

.header_Fix {
  justify-content: space-between;
  display: flex;
}

footer span {
  display: block;
}

@include for-tablet-landscape-up{
footer span {
  display: inline;
  }
}

@include for-tablet-landscape-up{
.footerOffset {
  padding-left:4vw;
  }
}


.mobile_Nav {
  display: flex;
  position: fixed;
  bottom: 0px;
  background: black;
  width: 100%;
  justify-content: space-around;
  z-index: 2;
}


@include for-tablet-landscape-up{
  .mobile_Nav {
    display: none;
  }
}

.mobile_Nav--button {
  flex: 1 1 15%;
  font-size: 3rem;
  text-align: center;
  padding: 10px 0px;
  span {
    font-size: 10px;
  }
}

#apply_Button {
  background-color: $contrast;
  flex: 4 1 15%;

}
// Utility Classes  ------------------------------------------------------------------------------------------ //

.max-width {
	max-width: 1200px;
	margin: .2em auto; // synced with above
}

.black-bg {
	background: $black;
	color: $white;
	h1,h2,h3{
		color: $white;
	}
	h4,h5,h6{
		color: $grey;
	}
	h1 span {
		color: darken($contrast, 10%);
	}
	a{
		color: $white;
	}
}

.dark-bg {
	background: $dark;
	color: $white;
	h1,h2,h3{
		color: $white;
	}
	h4,h5,h6{
		color: $white;
	}
	a{
		color: $white;
	}
}

.light-bg {
	background: $grey;
	color: $dark;
	overflow: hidden;
	h1{
		color: $black;
	}
}

.contrast-bg {
	background: $contrast;
	color: $white;
	overflow: hidden;
	h1,h2,h3,h4,h5,h6,p,a{
		color: $white;
	}
}

.full-width{
	width: 100%;
}

.full-width-on-mobile {
	@include for-phone-only{
		flex-basis: calc(100% - .4em); // synced with above
	}
}

.centered{
	text-align:center;
}

.extra-padding{
	padding: $spacing*2 0px;
}

.hidden-on-mobile {
	display: block;
	@include for-phone-only{
		display:none;
	}
}

.visible-on-mobile {
	display: none;
	@include for-phone-only{
		display:block;
	}
}


// Specific Classes ----------------------------------------------------------------------------------------- //


.logo {
	position: relative;
	width: 150px;
	@include for-tablet-portrait-up{
		width: 250px;
	}
}

.campaign{
  z-index: 1;
  background-size:cover;
	color: $white;
	padding: 1em 2em;
	.campaign{
		margin: 10px 0px;
		padding: $spacing 0;
	}
	h1, p {
		color: $black;
		line-height: 1.2em;
	}
	h1 {
  	font-size: 3.2em;
  	line-height: 1em;
	}
	p {
  	font-size: 1.4em;
	}
}

.van-campaign{
  background: url("../images/campaign-bg.jpg") right center no-repeat;
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-60deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100% );
	opacity: .8;
	@media screen and (max-width: 1200px) {
	background: white;
	}
  }
}

.form-bg{
	background: $dark;
	background-size:cover;
	overflow: hidden;
	padding: $spacing*2 auto;
	h1,h2,h3{
		color: $white;
	}
	h4,h5,h6,p,a, label{
		color: $grey;
	}
	form div:not(:last-child) {
		margin-right: 0px;
	}
}

@media screen and (max-width: 700px) {
	.callout-container:nth-of-type(even){
		margin-right: 0px !important;
		color: blue;
	}
}
.callout-parent-container {
	display: flex;
	flex-wrap: wrap;
	margin-right: 0px;
}

.callout-parent {
	display: flex;
	flex: 1 1 360px;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 0px;
}

.callout.callout.callout {
	display: flex;
	flex-direction: column;
	flex: 1 1 156px;
	margin: 10px;
	text-align: center;
	border: 5px solid $primary-color;
	padding-top: 25px;
	margin-right: 0px;
	div {
		display: flex;
		flex: 1 0 15%;
		padding: 0px 40px 0px 40px;
		justify-content: center;
		align-items: center;
		margin-right: 0px !important;
	}
	div > * {
		align-self: center;
	}
	.span {
		font-size: 4em;
	}
	i {
		font-size: 4em !important;
		color: $primary-color;
	}
	p {
		margin-bottom: 1em;
	}
	.callout-title {
		display: block;
		flex: 5 0 20%;
		margin: 0px;
	}
	div:nth-of-type(2n+2) {
		background-color: lighten($grey, 10%);
	}
}

_:-ms-lang(x), .callout { display:block; }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper object,
.videoWrapper embed,
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// Buttons & Forms ----------------------------------------------------------------------------------------- //

@mixin button-bg($color) {
  background: rgba($color, 1.0);
  &:hover {
    background:rgba(darken($color,5%), 1.0);
    transition: all 0.3s ease;
    color: $white;
  }
  &:active {
    background:rgba(darken($color,5%), 1.0);
  }
}

.button, button {
	color: $white;
	@include button-bg($dark);
	text-decoration:none;
	padding: 0.7em 3em;
	border-radius: 0em;
	display: inline-block;
	height: auto;
	@include for-tablet-portrait-up {
    margin: 5px 0px;
  }
}

.button-primary{
	@include button-bg($contrast);
	color: $white;
}

.button-secondary {
  text-decoration:underline;
  font-size: 0.9em;
	color: $white;
	display: block;
	&:hover{
		color: $grey;
	}
}

/*FORMS*/

form {
	* {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		box-shadow: none;
		box-sizing: border-box;
		margin: .5em 0 0 0;
	}
	textarea, select, input{
		border: 1px solid lighten($black, 8.8%);
		border-radius: $border-radius;
		height: 38px;
		padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
		display: block;
		width: 100%;
		&::placeholder {
  		color:$grey;
		}
	}
	textarea {
		min-height: 65px;
	}
	textarea:focus, select:focus, input:focus{
	    border: 1px solid $contrast;
	    outline: 0;
	    color: black;
	}
	textarea:visited, select:visited, input:visited{
	    border: 1px solid $contrast;
	    outline: 0;
	    color: black;
	}
	label, legend {
		display: block;
		font-size: .8em;
		margin: .4em 0 -.6em .4em;
	}
	fieldset {
	  padding: 0;
	  border-width: 0;
	}
}

.email-honeypot{display:none;}

.text-error{
	padding:0px;
	font-size: small;
	color:red;
}

.validationError, .novalidate input[type="radio"]:invalid + label, .novalidate input[type="checkbox"]:invalid + label {
	color:$white !important;
	border-color:#EC202A;
	border: 1px solid;
	background:#EC202A;
	-webkit-box-shadow:0 0;
	-moz-box-shadow:0 0;
	box-shadow:0 0;
}


.novalidate input[type="radio"]:invalid + small, .novalidate input[type="checkbox"]:invalid + small  {
	background: red;
}


input[type=radio], input[type=checkbox] {
    display:none; //  Hide radio button (the round disc)  we will use just the label to create pushbutton effect
    margin:10px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block; //  Change the look'n'feel of labels (which are adjacent to radiobuttons).  Add some margin, padding to label
    margin:2px;
    padding: 6px 14px;
    background-color: #ccc;
    border-color: #ccc;
    color: $dark;
}



input[type=radio]:checked + label, input[type=checkbox]:checked + label {
	background-image: none; // Change background color for label next to checked radio button to make it look like highlighted button
    background-color: $contrast;
    color: $white;
}

.checkRadioBox{
	background: $white;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: $border-radius;
}

@include for-tablet-portrait-up {
.about {
  padding: 0 150px;
  }
}

 #formColumn_first{
   margin-right: 2em;
 }

@media (max-width: 448px) {
  #formColumn_first{
   margin-right: 0;
 }
}

// Success Page
//––––––––––––––––––––––––––––––––––––––––––––––––––

#loading-image{
	text-align:center;
	margin: 40px auto;
}

.loading{
	font-size:200px;
	color: $contrast;
}

.success{
	font-size:80px;
	color: $contrast;
}

#content {
	margin: 40px auto;
	padding: 10px;
	border: 1px solid $dark;
	border-radius: 10px;
	text-align: center;
	@include for-tablet-landscape-up {
		padding: 80px;
	}
}

#content {display: none;}

#content h1 {
	color: $dark;
	font-weight: bold;
}

#content h2 {
	color: $black;
}

#content p {
	font-weight: bold;
}

#content p span{
	color: $dark;
}

.jc--c {
  justify-content: center;
}

.ai--c {
  align-contents: center;
}

.index-button-container {
  display: flex;
  max-width: 1200px;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid red;
  	@include for-tablet-landscape-up {
    	justify-content: space-between;
    }

}
.index-button {
  color: #fff;
  background: #2b2b2b;
  text-decoration: none;
  padding: 0.7em 3em;
  margin: .5em;
  height: auto;
  max-width: 300px;
  display: flex;
  flex: 1 1 300px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.index-intro {
  max-width: 1200px;
  text-align: center;
  margin-top: 20px;
}
